<h1>Movies</h1>
<p>Movie List</p>

    <% @movies.each do |movie| %>
    <div class="card rounded-4" style="width: 18rem;">
      <%= image_tag movie.poster_url, width:50, class: "card-img-top rounded-top", alt:"image" %>
    <div class="card-body">
      <h5 class="card-title"><%= movie.title %></h5>
      <p class="card-text"><%= movie.overview%></p>
      <%= movie.rating %>
      <%= link_to 'View Details', movie_path(movie), class:"btn btn-primary" %>
    </div>
  </div>
      <% end %>
